body {
  padding: 0;
  margin: 0;
}

.App {
  position: absolute;
  right: 0;
  width: 550px;
  height: 100vh;
}

.header {
  padding: 1rem;
  padding-left: 2.5rem;
  text-transform: uppercase;
  font-weight: bold !important;
  color: #93939f !important;
  text-align: left;
  background: #fbfbfc;
}
