.Pellet-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: white;
  border-top-left-radius: 0.6rem;
  border-bottom-left-radius: 0.6rem;
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05);
  height: 56px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.Pellet-wrapper:hover {
  transition: all .5s ease-in-out;
  transform: translateX(-5px) translateY(-50%);
  box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.1);
}

.Pellet-pelletWrapper {
  padding: 1.4rem;
}

.Pellet-pellet {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 100%;
}

.Pellet-arrowWrapper {
  height: 100%;
  align-items: center;
  display: flex;
  border-right: 1px solid #e2e4eb;
  padding: 0 0.6rem;
}

.Pellet-arrow::before {
  content: '⟩';
  display: block;
  font-size: 1.2rem;
  transform: rotate(180deg);
}